* {
	margin:0;
	padding:0;
}

body{
	font-family: 'Raleway', sans-serif;
}

ul {
	text-decoration:none;
}

li {
	list-style-type:none;
}

a {
	text-decoration: none;
	color:#000;
}

.underline {
	text-decoration: underline;
}

a:hover {
	color:#3f893f;
	transition:ease 1s;
}

header {
	overflow:hidden;
	padding:0 1%;
	font-family: 'Lato', sans-serif;
	border-bottom:#3f893f 1px solid;
}

header a {
	color:#3f893f;
}

header a:hover {
	color:#000;
}


nav {
	width: 30%;
	float:right;
}

nav li {
	float:left;
	width:33%;
	text-align:center;
	font-size: 120%;
	margin:5% 0;
}

h1,h2,h3,h4 {
	font-family: 'Lato', sans-serif;
	
}

h1 {
	margin-top:5%;
	margin-bottom:1%;
	font-size:350%;
}

#about {
	margin-bottom:5%;
}

h2 {
	font-size: 250%;
}

h3 {
	font-size: 200%;
	color:#3f893f;
	margin-bottom:2%;
	margin-left:3%
}

#homelink {
	padding:1%;
	margin:0;
}

h4 {
	margin-bottom:3%;
	font-size:150%;
}

.wrapper {
	width:90%;
	margin:0 auto;
	overflow:hidden;
}

main section {
	margin-bottom:1%;
}

.last {
	margin-bottom:5%;
}

.center {
	width:80%;
	margin:0 auto;
}

.middle {
	margin-left:40%;
	
}
.row {
	height:400px;
	margin-bottom: 2%;
}

.left-box {
	width:31%;
	height:95%;
	float:left;
	margin-right:3%;
}

.left-box img {
	height:250px;
	width:100%;
}

.last-box {
	width:31%;
	height:95%;
	float:left;
}

.last-box img {
	height:250px;
	width:100%;
}

aside h3 {
	margin-top:3%;
}

aside ul {
	margin:0 auto;
	width:65%;
}

aside ul li {
	margin-bottom:2%;
	line-height:1.7em;
	list-style-type: circle;
}

.storyboard {
	margin-bottom:5%;
	width:80%;
	display:block;
}

.left {
	float:left;
	width:25%;
	clear:both;
	margin-bottom:5%;
	overflow:hidden;
}

.left img {
	padding-top:4%;
}

.right {
	float:right;
	width:70%;
}

img {
	max-width:100%;
}

p {
	margin:0 auto;
	margin-bottom:2%;
	line-height:1.7em;
	width:75%;
}

p a {
	color:#3f893f;
	border:#3f893f 1px solid;
	border-radius:5px;
	padding:.4em;
}

p a:hover {
	color:#FFF;
	background:#3f893f;
}

p img {
	margin:0 auto;
}

hr {
	margin-bottom:4%;
	fill:#3f893f;
}

figure {
	margin-bottom:4%;
	margin-top:5%;
}

figure img {
	display:block;
	margin:0 auto;
}

figcaption {
	font-size:85%;
	margin-left:3%;
	color:#555;
	font-style: italic;
}

.pushed {
	margin-left:25%;
}

footer ul {
	margin-bottom:20%;
}

footer li {
	margin-bottom:2.5%;
}

footer li:nth-child(2),footer li:nth-child(3){
	float:left;
	margin-right:2%;
}

footer li:nth-child(4){
	float:left;
}

footer a {
	color:white;
}

footer a:hover {
	color:black;
}

#contactMe {
	color:#fff;
	background:#777;
}

#contactMe a {
	color:#fff;
}

#contactMe a:hover {
	color:#000;
}

#portfolio {
	margin-bottom:7%;
}

.invision {
	display:block;
	margin-top:-11em;
	transform: scale(0.6);
}

.parallax {
	
    /* The image used */
    background-image: url("../images/tasklist/runthrough.jpg");

    /* Set a specific height */
    min-height: 550px; 
    /* Create the parallax scrolling effect */
    background-attachment:fixed;
	background-repeat: no-repeat;
    background-position:bottom;
    background-size:95%;
}

/*CSS for Cards on Index Page*/
.card {
    transition: 0.3s;
	
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(68,102,255,0.4);
}

.card img {
	border:1px #ccc double;
}

.card p {
	width:100%;
}
	
.container {
    padding: 5% 1em;
}

/*Back to top button*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(63, 137, 63, 0.8) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #3f893f;
  opacity: 1;
}

/*embedded video*/

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}
