* {
	margin:0;
	padding:0;
}

body{
	background:black;
	color:white;
	font-family: 'Robato', sans-serif;
}

ul {
	text-decoration:none;
}

li {
	list-style-type:none;
}

a {
	text-decoration: none;
}

nav {
	width:30%;
	padding-top:20px;
	position:fixed;
	top:0;
	left:35.5%;
	color:#fff;
}

nav li {
	background:black;
	float:left;
	width:32%;
	text-align:center;
	border:white solid 1px;
	border-radius:5px;
}

nav li a{
	
	color:white;
}

nav li:hover {
	background:white;
	color:black;
	border:black solid 1px;
}

nav li:hover a {
	color:black;
}

.fourNav {
	width:38%;
	left:31%;
}

.fourNav li {
	width:24.5%;
}


h1,h2 {
	font-family: 'Lato', sans-serif;
	margin:0px auto;
	width:50%;
	text-align: center;
	
}

h1 {
	font-size: 500%;
	padding-top:10%;
	padding-bottom:20%;
}

#firstHeader {
	margin-top:15%;
	margin-bottom:1%;
	padding:0px;
}

h2 {
	margin-bottom:40px;
	margin-bottom:15%;
}

h3 {
	margin-top:9%;
	margin-bottom:11%;
	font-family: 'Lato', sans-serif;
	font-size:300%;
}

#portfolio {
	margin-bottom:7%;
}

h4 {
	margin-bottom:1%;
	font-family: 'Lato', sans-serif;
	font-size:150%;
}

main {
	background:white;
	color:black;
}

.white {
	margin:0 auto;
	width:95%;
	border-left:black solid 2px;
	border-right:black solid 2px;
	padding:3% 0px;
	clear:both;
}
.black {
	margin:0 auto;
	width:95%;
	border-left:white solid 2px;
	border-right:white solid 2px;
	overflow:hidden;
	clear:both;
	padding:3% 0px;
}

.wrapper {
	width:940px;
	margin:0 auto;
	overflow:hidden;
}

.left {
	float:left;
	width:25%;
	clear:both;
	margin-bottom:5%;
}

img {
	max-width:100%;
}

.right {
	float:right;
	width:70%;
}

p {
	margin-bottom:5%;
	line-height:1.5em;
	
}

p a {
	color:black;
	border:black 1px solid;
	border-radius:5px;
	padding:5px;
}

p a:hover {
	color:white;
	background:black;
}

footer ul {
	margin-bottom:20%;
}

footer li {
	margin-bottom:2.5%;
}

footer li:nth-child(2){
	float:left;
	margin-right:1%;
}

footer li:nth-child(3){
	float:left;
}

footer a {
	color:white;
	border:white 2px solid;
	border-radius:5px;
	padding:5px;
}

footer a:hover {
	color:black;
	background:white;
}

#contactMe {
	color:black;
	background:white;
}

#contactMe a {
	color:black;
	border:black 1px solid;
	border-radius:5px;
	padding:5px;
}

#contactMe a:hover {
	color:white;
	background:black;
}

.parallax {
	
    /* The image used */
    background-image: url("../images/tasklist/runthrough.jpg");

    /* Set a specific height */
    min-height: 550px; 
    /* Create the parallax scrolling effect */
    background-attachment:fixed;
	background-repeat: no-repeat;
    background-position:bottom;
    background-size:95%;
}
